.*.swp
.*.swo
*.out
*.o
*.a
Makefile
autom4te.cache/
buildpkg.sh
config.h
config.h.in~
config.log
config.status
openbsd-compat/Makefile
openbsd-compat/regress/Makefile
openssh.xml
opensshd.init
scp
sftp
sftp-server
ssh
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
sshd
survey.sh
